* { box-sizing: border-box; 
}
body { margin: 0;
        background-color: #cccccc;
        font-family: Arial, Helvetica, sans-serif; 
       
    }


        

header h1 { background-color: #4aaaa5;
        color: #ffffff;
        font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
        float: left;
        padding: .75em;
        margin-left: 120px;
    }

    header { font-family: Arial, Helvetica, sans-serif;
            background-color: #ffffff;
          height: 140px;
        }

    nav { font-size: 120%;           
            padding-right: 2em;
            padding-top: 5em;
            position: relative;
            float:right;
    }

nav ul { list-style-type: none;
        margin: 0;
    }

    nav a { text-decoration: none;
            display: block;
        }

        nav li { display: inline-block;
                    margin:0;
                    text-align: center;
                    color: #777777;
                    font-family: Arial, Helvetica, sans-serif;
                    padding-left: 2em;
                    
                }

        h2 { font-family: Georgia, 'Times New Roman', Times, serif;
            color: #4aaaa5;
            margin-left: 20px;
        }
        
        main { background-color: #ffffff;
                color: #000000;
                overflow: auto;
                border: 1px #dddddd solid; 
                margin: 20px auto;
                max-width: 960px;
                max-height: 960px;
                padding-bottom: 2em;
            }

            #portrait { height: 200px;
                        width: 200px;
                        float: left;
                        margin-left: 20px;
                    }

            header, main, nav, footer { display: block;
            }

            footer { text-align: center;
                        border-top: 8px solid #4aaaa5;
                        background-color: #666666; 
                        padding-top: 1em;
                        color: #ffffff;
            }

            hr { margin-left: 20px; 
                margin-right: 20px;
            }

            p { text-align: center;
                padding: 5px; }